# ELDERLY SURVEY - PRODUCTION ENVIRONMENT

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'https://elderly-survey.test/' # แนะนำให้เปลี่ยนเป็น Domain จริงในภายหลัง
app.forceGlobalSecureRequests = true
app.appTimezone = 'Asia/Bangkok'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = db
database.default.database = elderly_survey
database.default.username = user
database.default.password = password
database.default.DBDriver = MySQLi
database.default.port = 3306

#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------
security.csrfProtection = 'session' # ใช้ session แทน cookie ใน production เพื่อความปลอดภัยสูงขึ้น
security.tokenRandomize = true
security.regenerate = true

#--------------------------------------------------------------------
# MYSQL CONFIG
#--------------------------------------------------------------------
MYSQL_ROOT_PASSWORD=change_this_immediately
MYSQL_DATABASE=elderly_survey
MYSQL_USER=user
MYSQL_PASSWORD=password
